.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 2px solid #a9a9a9;
    border-top: 0;
}
.sidebar .sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.sidebar-option img{
    width: 30px;
}
.sidebar .sidebar-options .sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
   
}
.active{
   background-color: #80BCBD;
}

@media (max-width:450px) {
    .sidebar .sidebar-options .sidebar-option p{
        display:  none;
    }
}